body {
    background-image: url("http://cdn.wallpapersafari.com/64/4/8lxOGJ.jpg")
}

h1, h2, h3, h4, h5, h6 {
    color: yellow;
	font-family: arial;
    margin-left: 20px;
    margin-right: 20px;
}
p {
	color: white;
	font-family: arial;
	margin-left: 20px;
	margin-right: 20px;
}

ul, ol {
    color: #e6e6ff;
	font-family: arial;
    margin-left: 40px;
    margin-right: 20px;
}
