	body { 
		background-image: url("http://wallpaper-gallery.net/images/white-wallpaper/white-wallpaper-21.jpg")
	}
	h1 {
		text-align:center;
		background-color:black;
		color:#41a0f4;
		font-size: 60px;
	}
